.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  .header {
    display: flex;
    justify-content: space-between;
    .title {
      font-weight: bolder;
      font-size: 28px;
      margin-top: 25px;
    }
    .more {
      font-weight: normal;
      font-size: 25px;
      margin-top: 25px;
    }
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
